<div class="articles">
  <h1>Articles</h1>
  <% if articles.size.positive? %>
    <ul class="articles__list">
      <% articles.each do |article| %>
        <li class="article">
          <%= image_tag article.thumbnail_url, alt: '', class: 'article__thumbnail' %>
          <div class="article__info">
            <%= article.title %>
            <%= article.username %>
            <% if article.like %>
              <%= button_to("Liked", like_path(article.like), method: :delete, class: "article__like-button article__like-button--liked") %>
            <% else %>
              <%= button_to("Like", likes_path(article_id: article.id), method: :post, class: "article__like-button") %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
